

h1, h3, h5, p {
  margin: 0.3rem;
}

.yellow {
  color: yellow;
}

.col-right {
  display: flex;
  justify-content: flex-end;
}

.col-left {
  display: flex;
  justify-content: flex-start;
}

.films {
  display: flex;
  justify-content: center;
}

.outer-row {
  margin: 0.2rem;
  padding: 0.2rem;
  border: 0.05rem;
  border-style: solid;
}

.outer-table {
  margin: 0.3rem;
  padding: 0.5rem;
  border: 0.1rem;
  border-style: solid;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.container-fluid {
  width: 90%;
}

.App {
  text-align: center;
  color: yellow;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body {
  background-color: #282c34;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
